body {
	padding-top: 40px
}

.g-top-bar {
	width: 100%;
	height: 40px;
	background-color: #1c1c1c
}

.g-header {
	margin-top: 40px
}

.g-main-panel-body {
	width: 1160px;
	height: 422px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto
}

.g-main-panel-body:before,
.g-main-panel-body:after {
	content: " ";
	display: table
}

.g-main-panel-body:after {
	clear: both
}

.g-main-panel-body.g-main-first-screen {
	margin-top: 40px
}

.g-main-panel-body .g-main-well {
	width: 820px
}

.g-main-first-screen {
	height: 350px;
	overflow: hidden
}

.fengtao .pic-list {
	width: 360px;
	height: 148px
}

.fengtao .pic-list ul {
	width: 372px
}

.fengtao .pic-list ul li {
	width: 174px;
	height: 148px;
	margin-right: 12px
}

.fengtao .pic-list .pic {
	display: block;
	width: 100%;
	height: 116px;
	overflow: hidden
}

.fengtao .pic-list .pic img {
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition: all, .7s;
	-moz-transition: all, .7s;
	-ms-transition: all, .7s;
	-o-transition: all, .7s;
	transition: all, .7s
}

.fengtao .pic-list .pic img:hover {
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	-webkit-transition: all, .7s;
	-moz-transition: all, .7s;
	-ms-transition: all, .7s;
	-o-transition: all, .7s;
	transition: all, .7s
}

.fengtao .pic-list .font {
	width: 100%;
	height: 20px;
	margin-top: 6px;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.fengtao .pic-list .font a {
	color: #333
}

.fengtao .pic-list .font a:hover {
	color: #1a79ff
}

.main-list-wrap li {
	width: 100%;
	overflow: hidden;
	font-size: 18px;
	text-overflow: ellipsis;
	white-space: nowrap
}

.main-list-wrap li.bold {
	font-weight: 700
}

.main-list-wrap li a {
	color: #333
}

.main-list-wrap li a:hover {
	color: #1a79ff
}

.other-main-title {
	height: 66px;
	margin-bottom: 30px;
	line-height: 66px;
	border-bottom: 1px solid #eee
}

.other-main-title:before,
.other-main-title:after {
	content: " ";
	display: table
}

.other-main-title:after {
	clear: both
}

.other-main-title .title-text {
	float: left;
	font-size: 26px;
	text-indent: 30px;
	color: #1c1c1c
}

.other-main-title .sub-nav {
	float: right
}

.other-main-title .sub-nav .sub-nav-text {
	position: relative;
	top: 5px;
	float: left;
	margin: 0 18px;
	font-weight: 400;
	color: #999
}

.other-main-title .sub-nav .sub-nav-text:hover {
	color: #1a79ff
}

.other-main-title .sub-nav .sub-nav-text:after {
	content: '';
	position: absolute;
	top: 50%;
	right: -18px;
	width: 2px;
	height: 2px;
	background-color: #ccc
}

.other-main-title .sub-nav .sub-nav-text.last {
	margin-right: 0
}

.other-main-title .sub-nav .sub-nav-text.last:after {
	background: 0 0
}

.item-1 {
	width: 2em
}

.g-main-panel-ico1 .title-text {
	background: url(../images/main_1.png) no-repeat left center
}

.item-2 {
	width: 4em
}

.g-main-panel-ico2 .title-text {
	background: url(http://imgs.ebrun.com/master/images/ico_index_main_2.png?__sprite) no-repeat left center
}

.item-3 {
	width: 6em
}

.g-main-panel-ico3 .title-text {
	background: url(http://imgs.ebrun.com/master/images/ico_index_main_3.png?__sprite) no-repeat left center
}

.item-4 {
	width: 8em
}

.g-main-panel-ico4 .title-text {
	background: url(http://imgs.ebrun.com/master/images/ico_index_main_4.png?__sprite) no-repeat left center
}

.item-5 {
	width: 10em
}

.g-main-panel-ico5 .title-text {
	background: url(http://imgs.ebrun.com/master/images/ico_index_main_5.png?__sprite) no-repeat left center
}

.item-6 {
	width: 12em
}

.g-main-panel-ico6 .title-text {
	background: url(http://imgs.ebrun.com/master/images/ico_index_main_6.png?__sprite) no-repeat left center
}

.item-7 {
	width: 14em
}

.g-main-panel-ico7 .title-text {
	background: url(http://imgs.ebrun.com/master/images/ico_index_main_7.png?__sprite) no-repeat left center
}

.renqiang-aside-panel {
	background-color: transparent
}

.g-top-bar-panel {
	position: relative;
	width: 1160px;
	margin: 0 auto;
	height: 40px;
	overflow: hidden
}

.g-top-bar-panel.fixed-menu .g-top-bar-guide {
	display: none
}

.g-top-bar-panel.fixed-menu .g-top-bar-nav {
	display: block
}

.g-top-bar-panel .g-top-bar-line {
	width: 1px;
	height: 12px;
	margin-top: 14px;
	overflow: hidden;
	line-height: 12px;
	background: url(http://imgs.ebrun.com/master/images/ico_topbar_line.png?__sprite) no-repeat left top
}

.g-top-bar-panel>ul {
	position: absolute;
	top: 0;
	height: 40px;
	overflow: hidden
}

.g-top-bar-panel>ul:before,
.g-top-bar-panel>ul:after {
	content: " ";
	display: table
}

.g-top-bar-panel>ul:after {
	clear: both
}

.g-top-bar-panel>ul li {
	position: relative;
	float: left;
	height: 40px;
	font-size: 12px;
	line-height: 40px
}

.g-top-bar-panel .dropdown {
	position: relative;
	top: 0;
	width: 30px;
	height: 30px;
	padding-top: 40px;
	background-color: red
}

.g-top-bar-guide {
	left: 0
}

.g-top-bar-guide li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #ddd
}

.g-top-bar-guide li a:hover {
	color: #fff
}

.g-top-bar-guide li.weibo {
	margin-right: 20px;
	padding-left: 17px;
	background: url(../images/weibo.png) no-repeat left 15px
}

.g-top-bar-guide li.app {
	margin-left: 20px;
	padding-left: 17px;
	background: url(../images/app.png) no-repeat left 14px
}

.g-top-bar-nav {
	display: none;
	left: 0
}

.g-top-bar-nav li {
	padding: 0 19px;
	background: url(http://imgs.ebrun.com/master/images/ico_topbar_line.png?__sprite) no-repeat left 15px
}

.g-top-bar-nav li a {
	color: #ddd
}

.g-top-bar-nav li a:hover {
	color: #fff
}

.g-top-bar-nav li.first {
	background: url(../images/ico_index.png) no-repeat left 14px
}

.g-top-bar-login {
	right: 0
}

.g-top-bar-login li {
	width: 60px;
	text-align: center
}

.g-top-bar-login li a {
	color: #ddd
}

.g-top-bar-login li a:hover {
	color: #fff
}

.g-top-bar-user {
	right: 0
}

.g-top-bar-user a {
	color: #ddd
}

.g-top-bar-user a:hover {
	color: #fff
}

.g-top-bar-user .remind {
	position: absolute;
	top: 11px;
	left: 45px;
	width: 6px;
	height: 6px;
	overflow: hidden;
	line-height: 6px;
	background-color: #ff3b30;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.g-top-bar-user .user {
	padding-right: 10px
}

.g-top-bar-user .user a {
	display: block;
	float: left
}

.g-top-bar-user .user .user-head {
	width: 28px;
	height: 28px;
	margin-top: 6px;
	margin-right: 9px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.g-top-bar-user .user .user-head img {
	display: block;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.g-top-bar-user .user .user-name {
	width: 4em;
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.g-top-bar-user .message,
.g-top-bar-user .setting {
	width: 84px;
	text-indent: 20px;
	background: url(http://imgs.ebrun.com/master/images/ico_topbar_dropdown.png?__sprite) no-repeat 55px 19px
}

.g-top-bar-user .message.hover,
.g-top-bar-user .setting.hover {
	background: #333 url(http://imgs.ebrun.com/master/images/ico_topbar_dropup.png?__sprite) no-repeat 55px 19px
}

.g-drop-down {
	position: fixed;
	top: 40px;
	left: 0;
	z-index: 999;
	width: 100%
}

.g-drop-down:before,
.g-drop-down:after {
	content: " ";
	display: table
}

.g-drop-down:after {
	clear: both
}

.g-drop-down .g-drop-down-panel {
	position: relative;
	width: 1160px;
	margin: 0 auto
}

.g-drop-down .dropdown {
	position: absolute;
	top: 0;
	width: 84px
}

.g-drop-down .dropdown .dropdown-well {
	padding: 10px 0
}

.g-drop-down .dropdown .triangle {
	position: relative;
	top: -10px;
	left: 33px;
	width: 0;
	height: 0;
	border-width: 0 10px 10px;
	border-style: solid;
	margin: 0 auto
}

.g-drop-down .dropdown .dropdown-ewm {
	display: block;
	width: 70px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden
}

.g-drop-down .dropdown .dropdown-ewm img {
	display: block;
	width: 70px;
	height: 70px
}

.g-drop-down .dropdown .dropdown-text {
	height: 20px;
	margin-top: 6px;
	font-size: 12px;
	line-height: 20px;
	text-indent: 28px;
	color: #fff
}

.g-drop-down .dropdown .dropdown-text.wechat-text {
	background: url(../images/wechat.png) no-repeat 7px center
}

.g-drop-down .dropdown .dropdown-text.weibo-text {
	background: url(../images/ico_weibo.png) no-repeat 7px center
}

.g-drop-down .dropdown .dropdown-text.app-text {
	background: url(http://imgs.ebrun.com/master/images/ico_dropdown_app.png?__sprite) no-repeat 7px center
}

.g-drop-down .dropdown .dropdown-line {
	display: block;
	width: 70px;
	height: 1px;
	margin-top: 8px;
	overflow: hidden;
	line-height: 1px;
	background-color: #666;
	border: 0 none
}

.g-drop-down .dropdown .weibo-btn {
	display: block;
	width: 70px;
	height: 28px;
	margin: 13px auto 0;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	background-color: #ff3b30;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}

.g-drop-down .dropdown.weibo {
	left: -10px
}

.g-drop-down .dropdown.weibo .dropdown-well {
	background-color: #333
}

.g-drop-down .dropdown.weibo .triangle {
	border-color: transparent transparent #333
}

.g-drop-down .dropdown.app {
	left: 94px
}

.g-drop-down .dropdown.app .dropdown-well {
	background-color: #1a79ff
}

.g-drop-down .dropdown.app .triangle {
	border-color: transparent transparent #1a79ff
}

.g-drop-down .dropdown.message {
	right: 85px
}

.g-drop-down .dropdown.setting {
	right: 0
}

.g-drop-down .dropdown.message,
.g-drop-down .dropdown.setting {
	position: absolute;
	top: 0;
	width: 84px;
	padding-bottom: 10px;
	background-color: #333
}

.g-drop-down .dropdown.message p,
.g-drop-down .dropdown.setting p {
	height: 26px;
	margin-top: 4px;
	overflow: hidden;
	font-size: 12px;
	line-height: 26px;
	text-indent: 18px
}

.g-drop-down .dropdown.message p a,
.g-drop-down .dropdown.setting p a {
	display: block;
	color: #ddd;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s
}

.g-drop-down .dropdown.message p a:hover,
.g-drop-down .dropdown.setting p a:hover {
	color: #fff;
	background-color: #ff9500;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s
}

.g-header-well {
	width: 1160px;
	margin-left: auto;
	margin-right: auto
}

.g-header-well:before,
.g-header-well:after {
	content: " ";
	display: table
}

.g-header-well:after {
	clear: both
}

.g-header-well .header-title .title-text {
	display: none!important
}

.g-header-well .header-title .logo {
	display: block
}

.g-header-well .header-search {
	width: 300px;
	height: 34px;
	background-color: #f3f3f3;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px
}

.g-header-well .header-search .search-control {
	display: block;
	float: left;
	width: 235px;
	height: 28px;
	margin-left: 20px;
	margin-top: 3px;
	overflow: hidden;
	font-size: 14px;
	line-height: 28px;
	color: #999;
	background: 0 0;
	border: 0 none
}

.g-header-well .header-search .search-control:focus {
	outline: 0
}

.g-header-well .header-search .header-search-submit {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 7px;
	margin-left: 8px;
	background: url(../images/search.png) no-repeat left top;
	border: 0 none;
	cursor: pointer
}

.g-header-nav {
	position: relative;
	z-index: 2;
	margin-top: 30px;
	border-top: 1px solid #e3e3e3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 7px 15px #f1f1f1;
	-moz-box-shadow: 0 7px 15px #f1f1f1;
	box-shadow: 0 7px 15px #f1f1f1
}

.g-header-nav .sub-menu {
	display: none
}

.g-header-nav.show-sub-menu {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-bottom-color: #f7f7f7
}

.g-header-nav.show-sub-menu .sub-menu {
	display: block
}

.g-header-nav.show-sub-menu .menu li.more {
	background: url(http://imgs.ebrun.com/master/images/ico_menu_active.png?__sprite) no-repeat center bottom
}

.g-header-nav.show-sub-menu .menu li.more a {
	color: #1a79ff;
	background: url(http://imgs.ebrun.com/master/images/ico_menu_dropup.png?__sprite) no-repeat 85px 28px
}

.g-header-nav .menu {
	position: relative;
	z-index: 3;
	width: 1160px;
	margin-left: auto;
	margin-right: auto
}

.g-header-nav .menu:before,
.g-header-nav .menu:after {
	content: " ";
	display: table
}

.g-header-nav .menu:after {
	clear: both
}

.g-header-nav .menu li {
	position: relative;
	top: 1px;
	float: left;
	margin-right: 48px;
	font-size: 18px;
	font-weight: 700;
	line-height: 60px
}

.g-header-nav .menu li.more-prev {
	margin-right: 10px
}

.g-header-nav .menu li.more {
	margin: 0;
	width: 120px;
	text-align: center
}

.g-header-nav .menu li.more a {
	display: block;
	background: url(http://imgs.ebrun.com/master/images/ico_menu_dropdown.png?__sprite) no-repeat 85px 28px
}

.g-header-nav .menu li.more.hover {
	color: #1a79ff
}

.g-header-nav .menu li a {
	color: #1c1c1c
}

.g-header-nav .menu li a:hover {
	font-weight: 700;
	color: #1a79ff
}

.g-header-nav .sub-menu {
	position: absolute;
	top: 61px;
	left: 0;
	z-index: 2;
	width: 100%;
	-webkit-box-shadow: 0 7px 15px #f1f1f1;
	-moz-box-shadow: 0 7px 15px #f1f1f1;
	box-shadow: 0 7px 15px #f1f1f1;
	background-color: rgba(255, 255, 255, .95)
}

.g-header-nav .sub-menu:before,
.g-header-nav .sub-menu:after {
	content: " ";
	display: table
}

.g-header-nav .sub-menu:after {
	clear: both
}

.g-header-nav .sub-menu .sub-menu-list {
	width: 1160px;
	margin: 0 auto;
	padding-right: 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 0;
	text-align: right
}

.g-header-nav .sub-menu .sub-menu-list li {
	display: inline;
	padding: 0 25px;
	font-size: 16px;
	line-height: 58px;
	background: url(http://imgs.ebrun.com/master/images/ico_nav_line.png?__sprite) no-repeat left center
}

.g-header-nav .sub-menu .sub-menu-list li.first {
	background: 0 0
}

.g-header-nav .sub-menu .sub-menu-list li a {
	color: #666
}

.g-header-nav .sub-menu .sub-menu-list li a:hover {
	color: #1a79ff
}

.fengtao .focus-container {
	width: 360px;
	height: 180px;
	margin-bottom: 12px
}

.fengtao .focus-wrapper {
	height: 180px
}

.fengtao .focus-slide {
	width: 360px;
	height: 180px
}

.fengtao .focus-slide.current .focus-tips {
	display: block
}

.fengtao .focus-slide img {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition: all, .7s;
	-moz-transition: all, .7s;
	-ms-transition: all, .7s;
	-o-transition: all, .7s;
	transition: all, .7s
}

.fengtao .focus-slide img:hover {
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	-webkit-transition: all, .7s;
	-moz-transition: all, .7s;
	-ms-transition: all, .7s;
	-o-transition: all, .7s;
	transition: all, .7s
}

.fengtao .focus-slide .focus-tips {
	display: none;
	position: absolute;
	left: 0;
	bottom: 28px;
	z-index: 2;
	font-size: 18px;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 360px;
	height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff
}

.fengtao .focus-slide .focus-shadow {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 360px;
	height: 75px;
	background: url(http://imgs.ebrun.com/master/images/bg_index_focus_shadow.png) no-repeat left top
}

.fengtao .focus-next,
.fengtao .focus-prev {
	width: 35px;
	height: 60px
}

.fengtao .focus-prev {
	background: url(http://imgs.ebrun.com/master/images/bg_index_focus_prev.png) no-repeat left top
}

.fengtao .focus-next {
	background: url(http://imgs.ebrun.com/master/images/bg_index_focus_next.png) no-repeat left top
}

.fengtao .focus-pagination {
	bottom: 12px;
	z-index: 2;
	height: 6px;
	overflow: hidden;
	line-height: 6px
}

.fengtao .focus-pagination a {
	width: 6px;
	height: 6px;
	margin: 0 4px;
	overflow: hidden;
	line-height: 6px;
	background-color: #ddd;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.fengtao .focus-pagination a.focus-pagination-active {
	background-color: #ff9500
}

.fengtao .main-list-wrap li {
	width: 100%;
	margin-top: 17px;
	height: 22px;
	line-height: 22px
}

.fengtao .main-list-wrap li.bold {
	margin-top: -6px;
	height: 36px;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px
}

.fengtao .main-list-wrap li.bold a {
	color: #1c1c1c
}

.fengtao .main-list-wrap li.bold a:hover {
	color: #1a79ff
}

.fengtao .main-list-wrap li.last {
	margin-bottom: 38px
}

.side1-panel {
	margin-top: 12px;
	border: 1px solid #e5e5e5
}

.side1-title {
	position: relative;
	margin-top: -12px;
	text-align: center;
	line-height: 22px
}

.side1-title span {
	display: inline-block;
	padding-left: 20px;
	background: url(http://imgs.ebrun.com/master/images/ico_asidel1_yuan.png?__sprite) left center no-repeat #fff;
	font-size: 22px;
	font-weight: 700;
	line-height: 22px;
	color: #000
}

.side1-title em {
	padding-right: 20px;
	background: url(http://imgs.ebrun.com/master/images/ico_asidel1_yuan.png?__sprite) right center no-repeat #fff;
	font-style: normal;
	color: #ff9500
}

.side1-title a {
	position: absolute;
	right: 0;
	top: 0;
	margin: 2px 12px 0 0;
	padding: 0 6px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	font-size: 12px;
	line-height: 18px;
	color: #999;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px
}

.side1-list {
	padding: 26px 20px 31px
}

.side1-list li {
	font-size: 0
}

.side1-list li:before,
.side1-list li:after {
	content: " ";
	display: table
}

.side1-list li:after {
	clear: both
}

.side1-list li a {
	display: inline-block;
	font-size: 16px;
	line-height: 38px;
	color: #333;
	width: 196px;
	height: 38px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.side1-list li a:hover {
	color: #1a79ff
}

.side1-list li span {
	float: right;
	text-align: right;
	font-size: 12px;
	line-height: 38px;
	color: #999
}

.fengtao.other-main {
	height: 422px;
	overflow: hidden
}

.fengtao.other-main .g-main-pic-font .main-list-wrap {
	margin-top: 13px
}

.fengtao.other-main .main-list-wrap li {
	position: relative;
	height: 22px;
	margin-top: 15px;
	line-height: 22px;
	text-indent: 12px
}

.fengtao.other-main .main-list-wrap li:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 4px;
	height: 4px;
	margin-top: -2px;
	background-color: #ccc;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.fengtao.other-main .main-list-wrap li.bold {
	height: 26px;
	margin-top: -4px;
	line-height: 26px;
	font-size: 18px
}

.fengtao.other-main .main-list-wrap li.bold a {
	color: #1c1c1c
}

.fengtao.other-main .main-list-wrap li.last {
	margin-bottom: 28px;
	width: 100%;
	height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.fengtao.other-main .main-list-wrap li a {
	color: #333
}

.fengtao.other-main .main-list-wrap li a:hover {
	color: #1a79ff
}

.side2-panel {
	width: 260px;
	margin: 0 auto
}

.side2-panel .side2-ebrun-num {
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 20px
}

.side2-panel .side2-ebrun-num dl {
	margin-bottom: 8px
}

.side2-panel .side2-ebrun-num dl:before,
.side2-panel .side2-ebrun-num dl:after {
	content: " ";
	display: table
}

.side2-panel .side2-ebrun-num dl:after {
	clear: both
}

.side2-panel .side2-ebrun-num dl dt {
	float: left;
	width: 36px;
	height: 36px
}

.side2-panel .side2-ebrun-num dl dt img {
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

.side2-panel .side2-ebrun-num dl dd {
	float: left;
	width: 212px;
	margin-left: 11px
}

.side2-panel .side2-ebrun-num dl dd p {
	display: block;
	float: left;
	max-width: 6em;
	height: 36px;
	padding-right: 22px;
	overflow: hidden;
	font-size: 16px;
	line-height: 36px;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap
}

.side2-panel .side2-ebrun-num dl dd p.side2-ico-v1 {
	background: url(http://imgs.ebrun.com/master/images/ico_side2_v1.png?__sprite) right center no-repeat
}

.side2-panel .side2-ebrun-num dl dd p.side2-ico-v2 {
	background: url(http://imgs.ebrun.com/master/images/ico_side2_v2.png?__sprite) right center no-repeat
}

.side2-panel .side2-ebrun-num dl dd p a {
	font-size: 16px
}

.side2-panel .side2-ebrun-num dl dd a {
	color: #333
}

.side2-panel .side2-ebrun-num dl dd a:hover {
	color: #1a79ff
}

.side2-panel .side2-ebrun-num dl dd .ico-side-more {
	float: right;
	width: 56px;
	height: 24px;
	margin-top: 3px;
	padding: 0;
	border: 1px solid #bfbfbf;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	color: #595959
}

.side2-panel .side2-ebrun-num dl dd .ico-side-more:hover {
	color: #1a79ff;
	border-color: #1a79ff
}

.side2-panel .side2-ebrun-num p {
	display: block;
	height: 44px;
	overflow: hidden
}

.side2-panel .side2-ebrun-num p a {
	width: 260px;
	font-size: 14px;
	line-height: 22px;
	color: #595959
}

.side2-panel .side2-ebrun-num p a:hover {
	color: #1a79ff
}

.side2-panel .border-none {
	border: 0
}

.side3-panel {
	width: 260px;
	margin: 0 auto
}

#renqiang-side3 .focus-container {
	width: 260px;
	height: 129px;
	overflow: hidden;
	border-bottom: 1px solid #eee
}

#renqiang-side3 .focus-container .focus-wraper {
	height: 103px
}

#renqiang-side3 .focus-container .focus-wraper:before,
#renqiang-side3 .focus-container .focus-wraper:after {
	content: " ";
	display: table
}

#renqiang-side3 .focus-container .focus-wraper:after {
	clear: both
}

#renqiang-side3 .focus-container .focus-wraper .focus-slide {
	float: left;
	width: 260px
}

#renqiang-side3 .focus-container .focus-wraper .focus-slide img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

#renqiang-side3 .focus-container .focus-wraper .focus-slide dl {
	margin-bottom: 8px
}

#renqiang-side3 .focus-container .focus-wraper .focus-slide dl:before,
#renqiang-side3 .focus-container .focus-wraper .focus-slide dl:after {
	content: " ";
	display: table
}

#renqiang-side3 .focus-container .focus-wraper .focus-slide dl:after {
	clear: both
}

#renqiang-side3 .focus-container .focus-wraper .focus-slide dl dt {
	float: left;
	width: 36px;
	height: 36px
}

#renqiang-side3 .focus-container .focus-wraper .focus-slide dl dd {
	float: left;
	margin-left: 11px;
	padding-right: 26px;
	background: url(http://imgs.ebrun.com/master/images/ico_side_v3.png?__sprite) right top 4px no-repeat;
	font-size: 16px;
	line-height: 36px;
	color: #333
}

#renqiang-side3 .focus-container .focus-wraper .focus-slide dl dd a {
	max-width: 6em;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333
}

#renqiang-side3 .focus-container .focus-wraper .focus-slide dl dd a:hover {
	color: #1a79ff
}

#renqiang-side3 .focus-container .focus-wraper .focus-slide p {
	display: block;
	width: 100%;
	height: 44px;
	overflow: hidden;
	font-size: 14px;
	line-height: 22px;
	color: #595959
}

#renqiang-side3 .focus-container .focus-wraper .focus-slide p a {
	display: inline;
	color: #333
}

#renqiang-side3 .focus-container .focus-wraper .focus-slide p a:hover {
	color: #1a79ff
}

#renqiang-side3 .focus-container .focus-pagination {
	text-align: center
}

#renqiang-side3 .focus-container .focus-pagination a {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0 4px;
	background-color: #ddd;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

#renqiang-side3 .focus-container .focus-pagination a.focus-pagination-active {
	background-color: #ff9500
}

#renqiang-side3 .side3-list {
	margin-top: 9px
}

#renqiang-side3 .side3-list li {
	width: 260px;
	height: 38px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

#renqiang-side3 .side3-list a {
	font-size: 16px;
	line-height: 38px;
	color: #333
}

#renqiang-side3 .side3-list a:hover {
	color: #1a79ff
}

.side4-panel dl,
.side4-panel dt {
	overflow: hidden;
	height: 80px
}

.side4-panel dl {
	width: 260px;
	padding: 0 0 20px;
	margin: 0 20px 20px;
	border-bottom: 1px solid #eee
}

.side4-panel dt {
	float: left;
	width: 120px
}

.side4-panel dt img {
	width: 100%;
	height: 100%;
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition: all, .7s;
	-moz-transition: all, .7s;
	-ms-transition: all, .7s;
	-o-transition: all, .7s;
	transition: all, .7s
}

.side4-panel dt img:hover {
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	-webkit-transition: all, .7s;
	-moz-transition: all, .7s;
	-ms-transition: all, .7s;
	-o-transition: all, .7s;
	transition: all, .7s
}

.side4-panel dd {
	overflow: hidden;
	float: right;
	width: 128px;
	height: 40px;
	padding-left: 12px;
	line-height: 20px
}

.side4-panel dd a {
	font-size: 16px;
	line-height: 20px;
	color: #333
}

.side4-panel dd a:hover {
	color: #1a79ff
}

.side4-panel .aside4-dl-dress {
	padding-top: 12px
}

.side4-panel .aside4-dl-dress span {
	display: block;
	margin-top: 5px;
	float: left;
	width: 60px;
	font-size: 14px;
	color: #999
}

.side4-panel .aside4-dl-dress a {
	display: block;
	float: right;
	width: 58px;
	height: 26px;
	border: 1px solid #bfbfbf;
	border-radius: 12px;
	font-size: 14px;
	line-height: 26px;
	color: #595959;
	text-align: center
}

.side4-panel .aside4-dl-dress a:hover {
	color: #1a79ff
}

.side4-panel .aside4-dl-dress a:hover {
	color: #1a79ff;
	border-color: #1a79ff
}

.side4-panel dl:last-child {
	border: 0
}

.side5-panel dl,
.side5-panel dl dt,
.side5-panel dl dd {
	overflow: hidden
}

.side5-panel dl {
	width: 260px;
	margin: 0 20px
}

.side5-panel dl dt {
	overflow: hidden;
	width: 38px;
	height: 38px;
	margin: 0 auto;
	border-radius: 50%
}

.side5-panel dl dt img {
	width: 100%;
	height: 100%
}

.side5-panel-title {
	padding-top: 5px;
	width: 8em;
	height: 22px;
	margin: 0 auto;
	overflow: hidden;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #333
}

.side5-panel-cone {
	width: 260px;
	height: 32px;
	margin: 0 auto;
	overflow: hidden;
	font-size: 12px;
	line-height: 32px;
	text-align: center;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #999;
	border-bottom: 1px solid #eee
}

.side5-panel-cone1 {
	margin-top: 12px;
	height: 44px;
	overflow: hidden;
	font-size: 16px;
	line-height: 22px;
	color: #595959;
	text-align: center
}

.side5-panel-code {
	overflow: hidden;
	height: 120px;
	width: 100%;
	padding-top: 15px;
	text-align: center
}

.side5-panel-code img {
	width: 120px;
	height: 120px
}

.side5-panel-cone2 {
	width: 100%;
	height: 22px;
	margin-top: 15px;
	overflow: hidden;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
	color: #1c1c1c;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap
}

.fengtao.other-main .siilu-img {
	position: relative;
	width: 360px;
	height: 180px;
	overflow: hidden
}

.fengtao.other-main .siilu-img a,
.fengtao.other-main .siilu-img img {
	display: block;
	width: 100%;
	height: 100%
}

.fengtao.other-main .siilu-img img {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition: all, .7s;
	-moz-transition: all, .7s;
	-ms-transition: all, .7s;
	-o-transition: all, .7s;
	transition: all, .7s
}

.fengtao.other-main .siilu-img img:hover {
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	-webkit-transition: all, .7s;
	-moz-transition: all, .7s;
	-ms-transition: all, .7s;
	-o-transition: all, .7s;
	transition: all, .7s
}

.fengtao.other-main .siilu-img .siilu-tips {
	position: absolute;
	left: 0;
	bottom: 15px;
	z-index: 2;
	font-size: 18px;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 360px;
	height: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff
}

.fengtao.other-main .siilu-img .siilu-shadow {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 360px;
	height: 75px;
	background: url(http://imgs.ebrun.com/master/images/bg_index_focus_shadow.png) no-repeat left top
}

.fengtao.other-main .g-main-pic-font .siilu-main-list-wrap {
	margin-top: 19px
}

.side6-panel img {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transition: all, .7s;
	-moz-transition: all, .7s;
	-ms-transition: all, .7s;
	-o-transition: all, .7s;
	transition: all, .7s
}

.side6-panel img:hover {
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
	-webkit-transition: all, .7s;
	-moz-transition: all, .7s;
	-ms-transition: all, .7s;
	-o-transition: all, .7s;
	transition: all, .7s
}

.side6-panel dl {
	width: 260px;
	margin: 0 20px
}

.side6-panel dl dt {
	display: block;
	float: left;
	overflow: hidden;
	width: 120px;
	height: 80px;
	margin-bottom: 16px
}

.side6-panel dl dt img {
	width: 100%;
	height: 100%
}

.side6-panel dl dd {
	display: block;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	clear: both;
	padding-top: 14px;
	height: 22px;
	white-space: nowrap
}

.side6-panel dl .side6-panel-list {
	display: block;
	clear: none;
	float: right;
	width: 130px;
	height: 44px;
	padding: 0
}

.side6-panel dl a {
	font-size: 16px;
	line-height: 22px;
	color: #333
}

.side6-panel dl a:hover {
	color: #1a79ff
}

.side6-panel dl .side6-panel-list a {
	white-space: normal
}

.system-panel:before,
.system-panel:after {
	content: " ";
	display: table
}

.system-panel:after {
	clear: both
}

.system-panel .system-flow,
.system-panel .system-link,
.system-panel .system-logo {
	height: 212px
}

.system-panel .system-logo {
	width: 214px;
	border-right: 1px solid #eee
}

.system-panel .system-logo img {
	display: block
}

.system-panel .system-link ul {
	width: 197px;
	height: 212px;
	border-right: 1px solid #eee
}

.system-panel .system-link ul li {
	margin-top: 22px;
	font-size: 14px;
	line-height: 100%;
	text-indent: 40px
}

.system-panel .system-link ul li.bold {
	margin-top: 0;
	padding-bottom: 10px;
	font-weight: 700
}

.system-panel .system-link ul li a {
	color: #595959
}

.system-panel .system-link ul li a:hover {
	color: #1a79ff
}

.system-panel .system-flow {
	width: 325px;
	margin-left: 25px
}

.system-panel .system-flow .system-ewm:before,
.system-panel .system-flow .system-ewm:after {
	content: " ";
	display: table
}

.system-panel .system-flow .system-ewm:after {
	clear: both
}

.system-panel .system-flow .system-ewm div {
	width: 108px;
	margin-left: 45px
}

.system-panel .system-flow .system-ewm div p {
	padding: 11px 0;
	font-size: 14px;
	line-height: 100%;
	text-align: center;
	color: #999
}

.system-panel .system-flow .system-weibo {
	margin-top: 29px;
	font-size: 14px;
	text-align: center
}

.system-panel .system-flow .system-weibo a {
	display: inline-block;
	height: 38px;
	padding-left: 48px;
	line-height: 38px;
	color: #999;
	background: url(http://imgs.ebrun.com/master/images/ico_system_weibo.png) no-repeat left top
}

.system-panel .system-flow .system-weibo a:hover {
	color: #333;
	background: url(http://imgs.ebrun.com/master/images/ico_weibo_hover.png) no-repeat left top
}

.system-tab-panel {
	width: 1160px;
	margin: 40px auto 0;
	padding-top: 40px;
	border-top: 1px solid #eee
}

.system-tab-panel:before,
.system-tab-panel:after {
	content: " ";
	display: table
}

.system-tab-panel:after {
	clear: both
}

.system-tab-panel .tab-menu {
	float: left;
	width: 96px
}

.system-tab-panel .tab-menu li {
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 700;
	line-height: 100%;
	color: #bbb;
	cursor: pointer
}

.system-tab-panel .tab-menu li.tab-menu-active {
	color: #1c1c1c
}

.system-tab-panel .tab-body {
	float: left;
	width: 1060px
}

.system-tab-panel .tab-body .tab-well {
	width: 100%
}

.system-tab-panel .tab-body .tab-well li {
	float: left;
	margin-right: 20px;
	margin-bottom: 16px;
	font-size: 12px;
	line-height: 100%
}

.system-tab-panel .tab-body .tab-well li a {
	color: #595959
}

.system-tab-panel .tab-body .tab-well li a:hover {
	color: #1a79ff
}
